astroid==2.4.2
coverage==5.3
dj-database-url==0.5.0
Django==3.1.1
gunicorn==20.0.4
ikp3db==1.4.1
isort==5.5.3
lazy-object-proxy==1.5.1
jedi==0.17.2
mccabe==0.6.1
psycopg2==2.8.6
pbr==5.5.0
parso==0.8.0
pylint==2.6.0
pylint-django==2.3.0
pylint-flask==0.6
pylint-plugin-utils==0.6
pytz==2020.1
stevedore==3.2.2
six==1.15.0
virtualenv-clone==0.5.4
virtualenv==20.1.0
virtualenvwrapper==4.8.4
wrapt==1.12.1
