astroid==1.6.6
coverage==4.5.4
dj-database-url==0.5.0
Django==1.11
gunicorn==19.9.0
ikp3db==1.1.4
isort==4.3.21
jedi==0.15.1
lazy-object-proxy==1.4.1
mccabe==0.6.1
parso==0.1.1
pbr==5.4.1
psycopg2==2.7.3.2
pylint==1.8.1
pylint-django==0.8.0
pylint-flask==0.5
pylint-plugin-utils==0.5
pytz==2019.1
six==1.12.0
stevedore==1.30.1
virtualenv==16.2.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wrapt==1.11.2
